.footer {
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    color: #070707;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .footer.visible {
    transform: translateY(0);
  }
  
  .footer p {
    margin: 0;
  }
  
  .dark{
    color: #d1cdcd;
  }
  .light{
    color: #070707;
  }